$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
// $color: #00ff

table {
  background-color: inherit;
  border: 10;
  padding-left: 5px;
}

.box {
  border: 2px solid;
  font-family: verdana;
  font-size: 30px;
  font-weight: bold;
  height: 125px;
  text-align: center;
  width: 125px;
  }
//
// .box-one {
//     float: left;
//     width: 200px;
//     height: 100px;
//     margin: 1em;
//   }
//
// .box-two {
//     border-left: 10px black solid;
//     border-right: 10px black solid;
//     border-top: 10px black solid;
//     padding-left: 5px;
//     background-color: blue;
//   }
//
// .box-three {
//     border-left: 10px black solid;
//     border-right: 10px black solid;
//     border-top: 10px black solid;
//     padding-left: 5px;
//     background-color: blue;
//   }
//
// .box-four {
//     border-left: 10px black solid;
//     border-right: 10px black solid;
//     border-top: 10px black solid;
//     padding-left: 5px;
//     background-color: blue;
//   }
//
// .box-five {
//     border-left: 10px black solid;
//     border-right: 10px black solid;
//     border-top: 10px black solid;
//     padding-left: 5px;
//     background-color: blue;
//   }
//
// .box-six {
//     border-left: 10px black solid;
//     border-right: 10px black solid;
//     border-top: 10px black solid;
//     padding-left: 5px;
//     background-color: blue;
//   }
//
// .box-seven {
//     border-left: 10px black solid;
//     border-right: 10px black solid;
//     border-top: 10px black solid;
//     padding-left: 5px;
//     background-color: blue;
//   }
//
// .box-eight {
//     border-left: 10px black solid;
//     border-right: 10px black solid;
//     border-top: 10px black solid;
//     padding-left: 5px;
//     background-color: blue;
//   }
//
// .box-nine {
//     border-left: 10px black solid;
//     border-right: 10px black solid;
//     border-top: 10px black solid;
//     padding-left: 5px;
//     background-color: blue;
//   }


// .main-box {
//   border: 1px solid black;
// }

// body {
//   background-color: light-blue;
// }
