  .container {
  border-left: 40px black solid;
  border-right: 40px black solid;
  border-top: 40px black solid;
  padding-left: 5px;
  background-color: blue;
  width: auto;
}

.button {
  border-left: 40px black solid;
  border-right: 40px black solid;
  border-top: 40px black solid;
  padding-left: 5px;
  background-color: blue;
}

.box-one {
  border-left: 10px black solid;
  border-right: 10px black solid;
  border-top: 10px black solid;
  padding-left: 5px;
  background-color: blue;
}

.box-two {
  border-left: 10px black solid;
  border-right: 10px black solid;
  border-top: 10px black solid;
  padding-left: 5px;
  background-color: blue;
}

.box-three {
  border-left: 10px black solid;
  border-right: 10px black solid;
  border-top: 10px black solid;
  padding-left: 5px;
  background-color: blue;
}

.box-four {
  border-left: 10px black solid;
  border-right: 10px black solid;
  border-top: 10px black solid;
  padding-left: 5px;
  background-color: blue;
}

.box-five {
  border-left: 10px black solid;
  border-right: 10px black solid;
  border-top: 10px black solid;
  padding-left: 5px;
  background-color: blue;
}

.box-six {
  border-left: 10px black solid;
  border-right: 10px black solid;
  border-top: 10px black solid;
  padding-left: 5px;
  background-color: blue;
}

.box-seven {
  border-left: 10px black solid;
  border-right: 10px black solid;
  border-top: 10px black solid;
  padding-left: 5px;
  background-color: blue;
}

.box-eight {
  border-left: 10px black solid;
  border-right: 10px black solid;
  border-top: 10px black solid;
  padding-left: 5px;
  background-color: blue;
}

.box-nine {
  border-left: 10px black solid;
  border-right: 10px black solid;
  border-top: 10px black solid;
  padding-left: 5px;
  background-color: blue;
}
